name: R-CMD-check

on:
  push:
    branches: [ main, work ]
  pull_request:

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: r-lib/actions/setup-r@v2
      - name: Install dependencies
        run: |
          install.packages('remotes')
          remotes::install_deps('.', dependencies = TRUE)
      - name: Check
        run: |
          R CMD check --no-manual --as-cran
      - name: Test package
        run: |
          Rscript -e 'testthat::test_dir("tests/testthat")'
